<!DOCTYPE html>
<html lang="en">
<include file="Public/header" title="制度修改" keywords="社团管理系统，常州大学，课程设计" />

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div method="get" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">制度标题</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="{$res['institutiontitle']}" id="institutiontitle">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">制度内容</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="{$res['institutioncontent']}" id="institutioncontent">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <button id="subbtn" class="btn btn-w-m btn-info" type="button" data-id="{$res['institutionid']}">确认提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<include file="Public/footer"/>
<script>
    $('#subbtn').on('click',function () {
        var btn = $(this);
        var institutionid = btn.data('id');
        var institutiontitle = $('#institutiontitle').val();
        var institutioncontent = $('#institutioncontent').val();
        var param = {
            institutionid: institutionid,
            institutiontitle:institutiontitle,
            institutioncontent:institutioncontent,
        };
        console.log(param);
        var url = "{:U('Institution/institutionmodify')}";
        $.ajax({
            url: url,
            data: param,
            dataType: 'json',
            type: 'post',
            success: function (data) {
                alert(data.info);
                if (data.status == 1) {
                }
            },
            error: function () {
                alert('操作失败');
            }
        })
    })
</script>
</html>